<div class="comment-preview">
  <div class="comment-meta">
    <a [routerLink]="['/profile', comment.sender.username]">
      <img [src]="comment.sender.image" />
    </a>
  
    <div class="info">
      <a class="author"
        [routerLink]="['/profile', comment.sender.username]">
        {{ comment.sender.username }}
      </a>
      <span class="date">
        {{ comment.createdAt | date: 'longDate' }}
      </span>
    </div>
  
    <ng-content></ng-content>
  </div>
  <h1>{{ comment.body }}</h1>
</div>
