<div class="comment-preview">
  <div class="comment-meta">
    <a>
      <img [src]="comment.sender.image" />
    </a>
    <div class="info">
      <a class="author">
        {{ comment.sender.username }}
      </a>
      <span class="date">
        {{ comment.createdAt | date: 'longDate' }}
      </span>
    </div>
    <app-favorite-button
      [comment]="comment"
      (toggle)="onToggleFavorite($event)"
      class="pull-xs-right">
      {{comment.favoritesCount}}
    </app-favorite-button>
    
  </div>
  <p>{{ comment.body }}</p>
</div>
