<div class="checkout-footer">
  <div class="column">
    <button class="btn btn-outline-secondary" (click)="onPrev($event)">
      <i class="icon-arrow-left"></i>
      <span>&nbsp;Prev</span>
    </button>
  </div>
  <div class="column">
    <button class="btn btn-outline-secondary" (click)="onList()">
      <span class="material-icons">
        list
      </span>
      <span>&nbsp;List</span>
    </button>
  </div>
  <div class="column">
    <button class="btn btn-outline-secondary" (click)="onNext($event)">
      <span>Next&nbsp;</span><i class="icon-arrow-right"></i>
    </button>
  </div>
</div>
