<h1>{{ content.name }}</h1>
<div class="row">
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <ng-template [ngIf]="content.pages">
    <div *ngFor="let page of content.pages">
      <img *ngIf="page.imgURL" [src]="'http://server.webcomic.pk/upload' + page.imgURL"
      alt="poster comic">
      <img *ngIf="!page.imgURL" src="/img/no_poster_available.jpg" alt="No poster available">
    </div>


    <app-viewer-arrow (prev)="onPrev()" (next)="onNext()"></app-viewer-arrow>

    <app-comment-list [limit]="10" [config]="id"></app-comment-list>

    
  </ng-template>
</div>
