<div class="row">
  <div class="loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <ng-template [ngIf]="contents">
    <div *ngFor="let content of contents">
      <img *ngIf="content.imgURL" [src]="'http://api.webcomics.pk/upload' + content.imgURL"
      alt="poster comic">
      <img *ngIf="!content.imgURL" src="/img/no_poster_available.jpg" alt="No poster available">
    </div>


    <app-viewer-arrow (prev)="onPrev()" (continue)="onNext()"></app-viewer-arrow>

    <app-viewer-comment></app-viewer-comment>


  </ng-template>
</div>
