<!-- Site Footer-->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Contact Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Get In Touch With Us</h3>
          <p>
            <a class="navi-link-light" href="#">contact@wah.app</a>
          </p>
          <a class="social-button shape-circle sb-facebook sb-light-skin" href="https://www.facebook.com/Webcomicspk-101143781588958">
            <i class="socicon-facebook"></i>
          </a>
          <a class="social-button shape-circle sb-instagram sb-light-skin" href="https://www.instagram.com/webcomics.pk/">
            <i class="socicon-instagram"></i>
          </a>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Mobile App Buttons-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">Our Mobile App</h3>
          <a class="market-button apple-button mb-light-skin" href="#">
            <span class="mb-subtitle">Download on the</span>
            <span class="mb-title">App Store</span>
          </a>
          <a class="market-button google-button mb-light-skin" href="https://play.google.com/store/apps/details?id=app.wah.pkcomics">
            <span class="mb-subtitle">Download on the</span>
            <span class="mb-title">Google Play</span>
          </a>
        </section>
      </div>
    </div>
    <hr class="hr-light mt-2 margin-bottom-2x">
    <!-- Copyright-->
    <p class="footer-copyright">Copyright © 2020 
      <a href="https://wah.app" target="_blank"> &nbsp;Wah</a>
      - All rights reserved
    </p>
  </div>
</footer>
