<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/weekly" href="">
                <span>Weekly</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/top" href="">
                <span>Top</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/genres" href="">
                <span>Genres</span>
            </a>
        </li>
    </ul>
</nav>
